In [3]:
import pandas as pd

df = pd.read_parquet("merged.parquet")

In [4]:
df = df.drop(columns=["종목코드_x", "일자_x", "day+7", "날짜", "일자_y", "종목코드_y"])
df.head(5)

,종목명,시가,고가,저가,종가,거래량,수정비율,code,date
0,에코바이오,2375.0,2535.0,2260.0,2290.0,5880827.0,481.940002,038870,2014-02-06
1,에코바이오,2440.0,2440.0,2100.0,2200.0,2597881.0,481.940002,038870,2014-02-07
2,None,NaN,NaN,NaN,NaN,NaN,NaN,None,NaT
3,None,NaN,NaN,NaN,NaN,NaN,NaN,None,NaT
4,에코바이오,2150.0,2230.0,2065.0,2170.0,1231086.0,481.940002,038870,2014-02-10

In [4]:
def diff_시가_종가(ser, df):
    row = df.loc[ser.index]
    전일 = row.iloc[0]
    당일 = row.iloc[1]
    등락 = 당일["시가"] - 전일["종가"]
    return 등락

def diff_종가_종가(ser, df):
    row = df.loc[ser.index]
    전일 = row.iloc[0]
    당일 = row.iloc[1]
    등락 = 당일["종가"] - 전일["종가"]
    return 등락

df_dropped = df.dropna()
df_dropped["시가_종가차"] = df_dropped["종가"].rolling(window=2).apply(diff_시가_종가, args=(df_dropped,))
df_dropped["종가_종가차"] = df_dropped["종가"].rolling(window=2).apply(diff_종가_종가, args=(df_dropped,))

/var/folders/lx/48m1chcs2ylbbrwwkw8k8r680000gn/T/ipykernel_6233/462802434.py:16: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_dropped["시가_종가차"] = df_dropped["종가"].rolling(window=2).apply(diff_시가_종가, args=(df_dropped,))
/var/folders/lx/48m1chcs2ylbbrwwkw8k8r680000gn/T/ipykernel_6233/462802434.py:17: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_dropped["종가_종가차"] = df_dropped["종가"].rolling(window=2).apply(diff_종가_종가, args=(df_dropped,))

In [5]:
df_dropped.head(10)

,종목명,시가,고가,저가,종가,거래량,수정비율,code,date,시가_종가차,종가_종가차
0,에코바이오,2375.0,2535.0,2260.0,2290.0,5880827.0,481.940002,038870,2014-02-06,NaN,NaN
1,에코바이오,2440.0,2440.0,2100.0,2200.0,2597881.0,481.940002,038870,2014-02-07,150.0,-90.0
4,에코바이오,2150.0,2230.0,2065.0,2170.0,1231086.0,481.940002,038870,2014-02-10,-50.0,-30.0
5,에코바이오,2145.0,2200.0,2085.0,2160.0,809605.0,481.940002,038870,2014-02-11,-25.0,-10.0
6,에코바이오,2165.0,2175.0,2090.0,2155.0,670974.0,481.940002,038870,2014-02-12,5.0,-5.0
7,에코바이오,2140.0,2180.0,2100.0,2170.0,610618.0,481.940002,038870,2014-02-13,-15.0,15.0
8,에코바이오,2155.0,2155.0,2065.0,2080.0,987887.0,481.940002,038870,2014-02-14,-15.0,-90.0
9,테라사이언스,1800.0,1820.0,1740.0,1820.0,358455.0,96.660004,073640,2014-02-05,-280.0,-260.0
10,테라사이언스,1745.0,1765.0,1595.0,1670.0,595339.0,96.660004,073640,2014-02-06,-75.0,-150.0
11,테라사이언스,1715.0,1920.0,1650.0,1730.0,2269441.0,96.660004,073640,2014-02-07,45.0,60.0

In [7]:
df_grouped = df_dropped.set_index(["종목명", "date"])
df_grouped.head(10)

NameError: name 'df_dropped' is not defined

In [6]:
df_grouped = df_dropped

NameError: name 'df_dropped' is not defined

In [5]:
def group_process(grp):
    return (grp.values,)

dfv1 = df_grouped.groupby("종목명").agg({'시가_종가차': lambda x: group_process(x)})
dfv1

NameError: name 'df_grouped' is not defined

In [18]:
dfv1["시가_종가차"][0][0]

11460.0

In [86]:
df_grouped.groupby("종목명").agg({"date": lambda x: group_process(x)})

                                                     date
종목명
대원제약    ([2014-01-28T00:00:00.000000000, 2014-01-29T00...
에코바이오   ([2014-02-06T00:00:00.000000000, 2014-02-07T00...
테라사이언스  ([2014-02-05T00:00:00.000000000, 2014-02-06T00...

In [43]:
df2

,종목명,시가,고가,저가,종가,거래량,수정비율,code,date
0,에코바이오,2375.0,2535.0,2260.0,2290.0,5880827.0,481.940002,038870,2014-02-06
1,에코바이오,2440.0,2440.0,2100.0,2200.0,2597881.0,481.940002,038870,2014-02-07
4,에코바이오,2150.0,2230.0,2065.0,2170.0,1231086.0,481.940002,038870,2014-02-10
5,에코바이오,2145.0,2200.0,2085.0,2160.0,809605.0,481.940002,038870,2014-02-11
6,에코바이오,2165.0,2175.0,2090.0,2155.0,670974.0,481.940002,038870,2014-02-12
7,에코바이오,2140.0,2180.0,2100.0,2170.0,610618.0,481.940002,038870,2014-02-13
8,에코바이오,2155.0,2155.0,2065.0,2080.0,987887.0,481.940002,038870,2014-02-14
9,테라사이언스,1800.0,1820.0,1740.0,1820.0,358455.0,96.660004,073640,2014-02-05
10,테라사이언스,1745.0,1765.0,1595.0,1670.0,595339.0,96.660004,073640,2014-02-06
11,테라사이언스,1715.0,1920.0,1650.0,1730.0,2269441.0,96.660004,073640,2014-02-07
14,테라사이언스,1725.0,1745.0,1545.0,1545.0,525933.0,96.660004,073640,2014-02-10
15,테라사이언스,1530.0,1540.0,1465.0,1505.0,429597.0,96.660004,073640,2014-02-11
16,테라사이언스,1505.0,1540.0,1460.0,1460.0,272108.0,96.660004,073640,2014-02-12
17,테라사이언스,1485.0,1485.0,1410.0,1440.0,212312.0,96.660004,073640,2014-02-13
18,대원제약,12900.0,13000.0,12550.0,12700.0,173505.0,75.360001,003220,2014-01-28
19,대원제약,12700.0,12800.0,12400.0,12500.0,168118.0,75.360001,003220,2014-01-29
24,대원제약,12400.0,12550.0,12350.0,12500.0,86984.0,75.360001,003220,2014-02-03
25,대원제약,12450.0,13150.0,12100.0,13050.0,118614.0,75.360001,003220,2014-02-04
26,대원제약,13050.0,13250.0,12800.0,13150.0,118848.0,75.360001,003220,2014-02-05

In [42]:
df2.to_excel("test.xlsx")

In [59]:
def check_group(x):
    idx = x.index
    
    #print(len(idx))
    
    rows = [df2.loc[idx[i]] for i in range(len(idx))]
    
    #print(rows)
    첫날종가 = rows[0]["종가"]
    
    시가차목록 = []
    종가차목록 = []
    시종가차목록 = []
    for row in rows[1:]:
        시가종가차 = row["시가"] - 첫날종가
        종가종가차 = row["종가"] - 첫날종가
        시가차목록.append(시가종가차)
        종가차목록.append(종가종가차)
        시종가차목록.append(시가종가차)
        시종가차목록.append(종가종가차)
        
        
    변화량 = [f"{n / 첫날종가 * 100:.2}%" for n in 시종가차목록]
        
        
    print("")
    print(시가차목록)
    print(종가차목록)
    print(시종가차목록)
    
    return 변화량

In [60]:
df2 = df.dropna()

def group_x(s):
    idx = s.index
    base = df2.loc[idx[0]]
    print(idx[1])
    second_day = df2.loc[idx[1]]
    
    print("first : ", base)
    print("second : ", second_day)
    
    
df2.groupby("종목명", sort=False).agg({"시가": lambda x: check_group(x)})

[150.0, -140.0, -145.0, -125.0, -150.0, -135.0]
[-90.0, -120.0, -130.0, -135.0, -120.0, -210.0]
[150.0, -90.0, -140.0, -120.0, -145.0, -130.0, -125.0, -135.0, -150.0, -120.0, -135.0, -210.0]

[-75.0, -105.0, -95.0, -290.0, -315.0, -335.0]
[-150.0, -90.0, -275.0, -315.0, -360.0, -380.0]
[-75.0, -150.0, -105.0, -90.0, -95.0, -275.0, -290.0, -315.0, -315.0, -360.0, -335.0, -380.0]

[0.0, -300.0, -250.0, 350.0]
[-200.0, -200.0, 350.0, 450.0]
[0.0, -200.0, -300.0, -200.0, -250.0, 350.0, 350.0, 450.0]

                                                       시가
종목명
에코바이오   [6.6%, -3.9%, -6.1%, -5.2%, -6.3%, -5.7%, -5.5...
테라사이언스  [-4.1%, -8.2%, -5.8%, -4.9%, -5.2%, -1.5e+01%,...
대원제약    [0.0%, -1.6%, -2.4%, -1.6%, -2.0%, 2.8%, 2.8%,...

In [61]:
df2.groupby("종목명")["고가"].max()

종목명
대원제약      13250.0
에코바이오      2535.0
테라사이언스     1920.0
Name: 고가, dtype: float64

In [62]:
df2

,종목명,시가,고가,저가,종가,거래량,수정비율,code,date
0,에코바이오,2375.0,2535.0,2260.0,2290.0,5880827.0,481.940002,038870,2014-02-06
1,에코바이오,2440.0,2440.0,2100.0,2200.0,2597881.0,481.940002,038870,2014-02-07
4,에코바이오,2150.0,2230.0,2065.0,2170.0,1231086.0,481.940002,038870,2014-02-10
5,에코바이오,2145.0,2200.0,2085.0,2160.0,809605.0,481.940002,038870,2014-02-11
6,에코바이오,2165.0,2175.0,2090.0,2155.0,670974.0,481.940002,038870,2014-02-12
7,에코바이오,2140.0,2180.0,2100.0,2170.0,610618.0,481.940002,038870,2014-02-13
8,에코바이오,2155.0,2155.0,2065.0,2080.0,987887.0,481.940002,038870,2014-02-14
9,테라사이언스,1800.0,1820.0,1740.0,1820.0,358455.0,96.660004,073640,2014-02-05
10,테라사이언스,1745.0,1765.0,1595.0,1670.0,595339.0,96.660004,073640,2014-02-06
11,테라사이언스,1715.0,1920.0,1650.0,1730.0,2269441.0,96.660004,073640,2014-02-07
14,테라사이언스,1725.0,1745.0,1545.0,1545.0,525933.0,96.660004,073640,2014-02-10
15,테라사이언스,1530.0,1540.0,1465.0,1505.0,429597.0,96.660004,073640,2014-02-11
16,테라사이언스,1505.0,1540.0,1460.0,1460.0,272108.0,96.660004,073640,2014-02-12
17,테라사이언스,1485.0,1485.0,1410.0,1440.0,212312.0,96.660004,073640,2014-02-13
18,대원제약,12900.0,13000.0,12550.0,12700.0,173505.0,75.360001,003220,2014-01-28
19,대원제약,12700.0,12800.0,12400.0,12500.0,168118.0,75.360001,003220,2014-01-29
24,대원제약,12400.0,12550.0,12350.0,12500.0,86984.0,75.360001,003220,2014-02-03
25,대원제약,12450.0,13150.0,12100.0,13050.0,118614.0,75.360001,003220,2014-02-04
26,대원제약,13050.0,13250.0,12800.0,13150.0,118848.0,75.360001,003220,2014-02-05

In [106]:
df2.loc[25]

종목명                    대원제약
시가                  12450.0
고가                  13150.0
저가                  12100.0
종가                  13050.0
거래량                118614.0
수정비율              75.360001
code                 003220
date    2014-02-04 00:00:00
Name: 25, dtype: object

In [116]:
def group_func(s):
    
    idx=s.index
    first_row=df2.loc[idx[0]]
    첫째날종가=df2.loc[idx[0]]['종가']
    for i in idx[1:]:
        시가 = df2.loc[i]['시가']
        시가종가차=시가-첫째날종가
        print(시가종가차)
        
    print(len(idx))

In [117]:
df3 = df2.groupby(["종목명"], sort=False).agg({"시가": group_func, "종가": max, "고가": sum})
df3

150.0
-140.0
-145.0
-125.0
-150.0
-135.0
7
-75.0
-105.0
-95.0
-290.0
-315.0
-335.0
7
0.0
-300.0
-250.0
350.0
5

          시가       종가       고가
종목명
에코바이오   None   2290.0  15915.0
테라사이언스  None   1820.0  11815.0
대원제약    None  13150.0  64750.0

In [100]:
df3["시가"].iloc[0]

(0    2375.0
 1    2440.0
 4    2150.0
 5    2145.0
 6    2165.0
 7    2140.0
 8    2155.0
 Name: 시가, dtype: float64,)